{% comment %} password_reset_form.html {% endcomment %}
{% extends "base.html" %}
{% block title %}Obnova hesla{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Obnova hesla</h2>
    <p>Zadejte svůj e-mail a my vám zašleme odkaz pro obnovu hesla.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}<br>
        {{ form.email }}
        <div class="form-group">
            <button type="submit">Odeslat instrukce</button>
        </div>
    </form>
</div>
{% endblock %}

