{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <h1>Registrace</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrovat</button>
    </form>
    <div class="nav-links">
        <p>Už máte účet? <a href="{% url 'login' %}">Přihlaste se zde</a></p>
    </div>
    <div class="nav-links">
        <a href="{% url 'home' %}">Domů</a>
    </div>
</body>
</html>
