{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stanislav Trtek{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/message_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% block extra_head %}{% endblock %}
    <!-- 1. CSS knihovny CookieConsent -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- 2. JS knihovny CookieConsent -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

    <!-- 3. Vlastní inicializace po načtení -->
    <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        palette: {
          popup: { background: "#000" },
          button: { background: "#f1d600" }
        },
        type: "opt-in",
        content: {
          message: "Používáme cookies pro správné fungování webu.",
          allow: "Povolit vše",
          deny: "Jen technické",
          link: "Více informací",
          href: "/cookies/"
        },
        onInitialise: function (status) {
          if (status == "allow" || status == "dismiss") {
            document.cookie = "cookie_consent=full; path=/";
          } else if (status == "deny") {
            document.cookie = "cookie_consent=technical; path=/";
          }
        }
      });
    });
    </script>

</head>
<body>
    <header>
        <h1>Vítejte na webu Stanislava Trtka</h1>
        <nav>
            <a href="{% url 'home' %}">Domů</a>
            <a href="{% url 'message_list' %}">Vzkazy</a>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:white; cursor:pointer; text-decoration:underline; padding:0;">
                        Odhlásit se
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Přihlásit se</a>
            {% endif %}
        </nav>
        <div class="current-time">
            <p>Dnes je: {{ current_time|date:"j. F Y H:i" }}</p>
            {% if user.is_authenticated %}
                <p>Jste přihlášen jako: {{ user.username }}</p>
            {% endif %}
        </div>

    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Stanislav Trtek</p>
    </footer>
    <script>
    fetch('/get-csrf/', {
        method: 'GET',
        credentials: 'same-origin'
    });
    </script>
</body>
</html>

