{% extends 'base.html' %}

{% block title %}Stanislav Trtek - Homepage{% endblock %}

{% block content %}
<section class="about-me">
    <h2>O mně</h2>
    <p>Jsem Stanislav Trtek a toto je moje osobní stránka. Zde najdete informace o mně, mé práci a zajímavostech, které bych rád sdílel.</p>
</section>
<section class="my-work">
    <h2>Moje práce</h2>
    <p>Pracuji jako vývojář a věnuji se různým projektům. Mám zkušenosti s vývojem webových aplikací, programováním a mnoha dalšími oblastmi.</p>
</section>
<section class="interesting-facts">
    <h2>Zajímavosti</h2>
    <p>V této sekci najdete různé zajímavosti a aktuality, které mě zaujaly.</p>
</section>
{% endblock %}
