body {
    font-family: Arial, sans-serif;
    background-color: #BBF2F4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #BBF2F4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}