body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

.content-container {  /* Přidáno content-container */
    display: flex;
    justify-content: space-between;
}

.messages-container {  /* Přidáno messages-container */
    width: 60%;
    padding-right: 20px;
}

.add-message-container {  /* Přidáno add-message-container */
    width: 35%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.messages {
    list-style-type: none;
    padding: 0;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.message strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.message p {
    margin: 0;
}

.filter-form {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
