/* Základní styly */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

header h1 {
    margin: 0;
    flex: 1 100%; /* Zajistí, že titulek bude mít vlastní řádek na menších obrazovkách */
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.current-time, .user-info {
    position: absolute;
}

.current-time {
    top: 10px;
    right: 10px;
}

.user-info {
    top: 10px;
    left: 10px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries pro zmenšení velikosti textu a přizpůsobení layoutu na menších obrazovkách */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .current-time, .user-info {
        position: static;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
}

